.contacto__boton {
    background: #692efd;
    padding: 15px 25px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--fuente-general);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    font-weight: 700;
    border-radius: 5px;
    border: 0;
}

.contacto__boton:hover{
    background: #692efd;
    color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px #692efd, 0 0 25px #692efd;
    text-shadow: 0 0 7px rgb(134, 112, 255), 0 0 15px rgb(149, 130, 255);
}

@media screen and (max-width: 1024px) {
    .contacto__boton:hover{
        box-shadow: none;
        text-shadow: none;
    }
}

@media screen and (max-width: 480px) {
    .contacto__boton:hover{
        box-shadow: none;
        text-shadow: none;
    }
}